
.header
  display flex
  justify-content space-between
  align-items center
  flex-flow row wrap
  height x(142)
  width 100%
  max-width x(960)
  margin-left auto
  margin-right auto

  .navLink
    font-family $fontRegular
    font-size x(24 )
    color $gray
    text-decoration none
    text-transform lowercase

  .logo
    display flex
    justify-content center
    align-items center
    height x(60)
    width x(340)
    background-color $gray
    border-radius x(16)
    text-transform uppercase
    color $logo
    font-size x(50)
