
.header
  flexCenter()
  justify-content space-between
  height x(142)
  width 100%
  max-width x(960)
  margin-left auto
  margin-right auto

  &.bare
    justify-content center

  .navLink
    font-family $fontRegular
    font-size x(24 )
    color $gray
    text-decoration none
    text-transform lowercase

    &:hover
      color $orange

  .logo
    flexCenter()
    height x(60)
    width x(340)
    background-color $gray
    border-radius x(16)
    text-transform uppercase
    color $logo
    font-size x(50)

    &:hover
      color $logo

.separator
  width 100%
  border-bottom x(2) solid rgba(63, 59, 59, 0.4)
  box-shadow x(0) x(1) x(2) rgba(63, 59, 59, 0.25)

