@import 'normalize'
@import 'typography'

defineFont('Marmelad Regular', 'Marmelad-Regular', 400, 'normal')

*, *:before, *:after
  box-sizing border-box

html
  font-family $fontRegular
  font-size $defaultFontSize

button
  resize none
  outline none
  border none