
$white = #FFFFFF
$black = #000000

$gray = #3F3B3B
$lightGray = #F8F8F8 // rgba(248, 248, 248, 1)
$lightGrayActive = #E8E8E8 // rgba(232, 232, 232, 1)
$logo = #FFD98E
$orange = #FF894C
$green = #A1C45A
$yellow = #F1C550
$red = #DC2F2F
$navy = #4C8492