
.card
  height x(409)
  width x(218)
  background-color $lightGray
  border-radius x(16)

.image
  width 100%
  height x(195)
  border-top-right-radius x(16)
  border-top-left-radius x(16)

.content
  padding x(16)
