
h3
  margin x(0)
  font-weight normal

.button
  flexCenter()
  justify-content flex-start
  width 100%
  height x(62)
  max-width x($maxWidth)
  border-radius x(16)
  transition 0.15s box-shadow ease-in-out
  box-shadow 0 0 x(12) x(-3) $gray
  font-size x(40)
  color $orange

  &:hover
    box-shadow 0 0 x(9) x(-3) $gray

  &:active
    box-shadow 0 0 x(5) x(-3) $gray

.icon
  flexCenter()
  justify-content flex-start
  min-width x(32)
  width @min-width
  height @width
  margin-right x(16)
  margin-left @margin-right
