
.modal
  max-width x(400)
  max-height x(600)
  overflow auto
  width 100%
  height auto

  .icon
    top x(10)
    right x(10)

    &:hover
      background-color $lightGrayActive

.image
  border-radius x(12)
  object-fit cover
  width 100%

.title
  font-size x(40)
  font-weight 500
  margin-top x(8)
  margin-bottom @margin-top

.description
  font-size x(18)

.optionsForm
  margin-top x(20)
  margin-bottom @margin-top

.radioOption + .radioOption
  margin-top x(15)

.optionRow
  display flex
  justify-content space-between
  align-items center
  flex-flow row wrap
  width 100%
  margin-left x(30)
  font-size x(18)

.params
  display flex
  flex-flow row nowrap

.volume
  margin-top x(4)

.price
  font-size x(30)
  margin-left x(6)
  color $orange

.counter
.counterInput
.counterButton
  height x(40)

.counterInput
.counterButton
  font-size x(35)

.counterInput
  max-width none

.counterButton
  width x(80)
  font-weight 600

.addToCartButton
  background-color $green
  max-height x(40)
  width 100%
  height x(40)
  font-size x(24)
  color $white
  border-radius x(8)
  transition box-shadow .3s ease-in-out
