.separator
  width 100%
  border-bottom x(2) solid rgba(63, 59, 59, 0.4)
  box-shadow x(0) x(1) x(2) rgba(63, 59, 59, 0.25)

.main
  width 100%
  margin-left auto
  margin-right auto
  max-width x($maxWidth)
  margin-bottom x(90)

.inputs
  margin-top x(50)
  margin-bottom x(50)

.cartSection
  position fixed
  bottom x(0)
  z-index 2
