
/* utils */
.image
  sectionGradient("../../../public/pasta.jpg")
  width x(962)
  height x(62)

.separator
  width 100%
  border-bottom x(2) solid rgba(63, 59, 59, 0.4)
  box-shadow x(0) x(1) x(2) rgba(63, 59, 59, 0.25)

/* end utils */

/* header */

/* end header */
