
.slider
  width 100%
  position relative

  .slide
    flexCenter()
    margin-top x(16)
    margin-bottom x(45)

.item + .item
  margin-left x(55)

.control
  flexCenter()
  position absolute
  top 45%
  z-index 1
  padding 0
  min-width x(44)
  width @min-width
  height @width
  font-size x(30)
  border-radius x(40)

  &:hover
    background-color $lightGrayActive

  .right
    transform rotate(180deg)

  &.disabled
    cursor default
    opacity 0.3

.prev
  left x(0)

.next
  right x(0)
