
.slider
  width 100%
  position relative

  .slide
    display flex
    justify-content center
    align-items center
    flex-flow row nowrap

.control
  position absolute
  top 45%
  z-index 1
  display flex
  justify-content center
  align-items center
  padding 0
  width x(44)
  height x(44)
  font-size x(30)
  border-radius x(40)

  .icon
    display block
    position absolute
    height x(49)

.prev
  left x(0)

.next
  right x(0)
