
.guest
  flexCenter()
  flex-flow column nowrap
  width 100%
  padding x(12)

  &.grey
    background-color $lightGray

  &.white
    background-color $white

.guestTitle
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-items center
  font-size x(16)
  width 100%

  &section
    font-size x(28)

  > span
    color $orange

.itemRow
  display flex
  justify-content space-between
  align-items center
  flex-flow row nowrap
  position relative
  width 100%
  margin-top x(10)

  &section
    margin-top x(20)

.itemImage
  max-width x(80)
  width 100%
  object-fit cover
  border-radius x(8)

  &section
    max-width x(120)
    width 100%

.itemMeta
  width 100%
  align-self flex-start
  margin-left x(10)
  font-size x(16)

  &section
    align-self center
    margin-left x(20)
    font-size x(28)

  .itemCount
    font-size x(12)

    &section
      font-size x(18)

  .count
    color $orange
    margin-left x(4)

.counter
  align-self flex-end
  max-width x(130)
  margin-top x(12)

  &section
    margin-top x(0)

.counter
.counterInput
.counterButton
.deleteButton
  height x(25)

.counterInput
.counterButton
.deleteButton
  font-size x(16)

.counterInput
  max-width none

.counterButton
  width x(30)

.crossIcon
  flexCenter()
  position absolute
  right x(5)
  top x(5)
  width x(24)
  height x(24)
  background-color $white
  cursor pointer
  border-radius x(12)
  font-size x(16)

  &:hover
    background-color $lightGrayActive

.deleteButton
  background-color $white
  border-radius x(8)
  border x(1) solid $gray
  margin-top x(10)
  width 100%
  cursor pointer

  &:hover
    background-color $lightGray

  &:active
    background-color $lightGrayActive

.rowActionButtons
  display flex
  flex-flow column nowrap
  justify-content center
  align-items flex-end
  max-width x(130)
  width 100%

.separator
  width 100%
  border-bottom x(1) solid $gray
  margin-top x(5)
