
.wrap
  display flex
  flex-flow column
  justify-content flex-end
  max-height x(90)
  width 100%
  height 100%

  &.show
    .orderList
      opacity 1
      visibility visible
      transition opacity .3s ease-in, visibility .3s ease-in 0s

  &.disabled
    .orderButton
      cursor default
      opacity 0.5

    .orderList
      display none

    .cartIconWrap
      opacity 0.5
      cursor default

.orderList
  flexCenter()
  flex-flow column nowrap
  position absolute
  visibility hidden
  opacity 0
  right x(70)
  bottom unquote('calc(' + x(130) + ' + ' + x(15) + ')')
  max-width x(380)
  min-width x(240)
  width 100%
  max-height x(380)
  min-height x(300)
  height 100%
  overflow hidden
  background-color $lightGray
  border-radius x(16)
  border x(1) solid $gray
  transition opacity .3s ease-out, visibility .3s ease-out .3s
  box-shadow 0 0 x(12) x(-1) $gray

.guest
  flexCenter()
  flex-flow column nowrap
  width 100%
  padding x(12)

.guestTitle
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-items center
  font-size x(16)
  width 100%

  > span
    color $orange

.itemRow
  display flex
  justify-content space-between
  align-items center
  flex-flow row nowrap
  position relative
  width 100%
  margin-top x(10)

.itemImage
  max-width x(80)
  width 100%
  object-fit cover
  border-radius x(8)

.itemMeta
  width 100%
  align-self flex-start
  margin-left x(10)
  font-size x(16)

  .itemCount
    font-size x(12)

  .count
    color $orange
    margin-left x(4)

.counter
  align-self flex-end
  max-width x(130)
  margin-top x(12)

.counter
.counterInput
.counterButton
  height x(25)

.counterInput
.counterButton
  font-size x(16)

.counterInput
  max-width none

.counterButton
  width x(30)

.crossIcon
  flexCenter()
  position absolute
  right x(5)
  top x(5)
  width x(24)
  height x(24)
  background-color $white
  cursor pointer
  border-radius x(12)
  font-size x(16)

  &:hover
    background-color $lightGrayActive

.separator
  width 100%
  border-bottom x(1) solid $gray
  margin-top x(5)

.orderButton
  width 100%
  height x(60)
  background-color $green
  color $white
  font-size x(30)
  text-align center
  opacity 1
  transition opacity .3s ease-in-out

.cartIconWrap
  flexCenter()
  position fixed
  right x(20)
  bottom x(100)
  width x(50)
  height x(50)
  min-width x(50)
  border-radius x(25)
  background-color $yellow
  box-shadow 0 0 x(12) x(-1) $orange
  color $white
  cursor pointer
  transition opacity .3s ease-in-out

  .icon
    font-size x(30)

.noteLabel
  flexCenter()
  width 100%
  height x(30)
  font-size x(16)
  background-color $yellow
  color $gray
  vertical-align baseline

