@keyframes modalShadow {
  from {
    opacity: 0.6
    top: 100%
  }
  to {
    opacity: 1
    top: 20%
  }
}

@keyframes backBackground {
  from {
    background-color alpha($gray, 0)
  }
  to {
    background-color alpha($gray, 0.5)
  }
}

.back
  position fixed
  z-index 2
  top 0
  left 0
  right 0
  bottom 0
  background-color alpha($gray, 0.5)
  animation backBackground 0.2s 1 ease-in-out
  animation-fill-mode forwards

.modal
  position fixed
  z-index 3
  top 20%
  left 50%
  transform translate(-50%, -17%)
  padding x(12)
  opacity 1
  width x(150)
  height x(200)
  background-color $lightGray
  border-radius x(16)
  box-shadow 0 0 x(10) 0 alpha($gray, 0.2), 0 x(1) x(1) 0 alpha($gray, 0.05)
  animation modalShadow 0.5s 1 ease-in-out
  animation-fill-mode forwards

.crossIcon
  position absolute
  right x(12)
  top x(12)
  font-size x(20)
  flexCenter()
  color $gray
  background-color $white
  width x(32)
  height x(32)
  border-radius x(16)
