
.wrap
  max-height x(60)
  width 100%
  height 100%

  &:hover
    .orderList
      opacity 1

  &.disabled
    .orderButton
      cursor default
      opacity 0.5

    .orderList
      opacity 0

.orderList
  opacity 0
  position absolute
  top x(0)

.orderButton
  width 100%
  height 100%
  background-color $green
  color $white
  font-size x(30)
  text-align center
  opacity 1
  transition opacity .3s ease-in-out


