html[data-layout="mobile"]
  .inputs
    flex-flow column nowrap

    > div + div
      margin-left x(0)

    > div
      min-width x(240)
      margin-top x(10)

      .label
        font-size x(20)
        margin-bottom x(5)

    .counterInput
      max-width x(150)

.inputs
  display flex
  justify-content space-between
  align-items center
  width 100%

  > div + div
    margin-left x(60)

  > div
    flex 1

    .label
      font-family $fontRegular
      font-size x(30)
      color $gray
      text-align center
      margin-bottom x(7)

.dropdownTooltip
  width 100%

.tooltip
  font-family $fontRegular
  color $white
  font-size x(12)
  width 100%
  white-space pre-wrap
  text-align center
