
.info
  flexCenter()
  position fixed
  z-index 2
  width 100%
  height x(55)
  background-color $gray

  .item
    font-family $fontRegular
    font-size x(30)
    color $lightGray

.phone
  text-decoration none

.slash
  width x(3)
  height x(45)
  margin-left x(16)
  margin-right x(16)
  background-color $logo
  transform rotate(27deg)
