html[data-layout="mobile"]
  .info
    flex-flow row wrap
    height auto
    padding x(6)

    .item
      font-size x(16)

  .slash
    height x(12)
    width x(1)
    margin-left x(8)
    margin-right @margin-left


.info
  flexCenter()
  width 100%
  height x(55)
  background-color $gray

  .item
    font-family $fontRegular
    font-size x(30)
    color $lightGray

.phone
  text-decoration none

.slash
  width x(3)
  height x(45)
  margin-left x(16)
  margin-right x(16)
  background-color $logo
  transform rotate(27deg)
