
h3
  margin x(0)
  font-weight normal

.button
  flexCenter()
  justify-content flex-start
  width 100%
  height x(62)
  max-width x($maxWidth)
  border-radius x(16)
  border x(1) solid $orange
  font-size x(40)
  color $orange

.icon
  flexCenter()
  justify-content flex-start
  min-width x(32)
  width @min-width
  height @width
  margin-right x(16)
  margin-left @margin-right
