
.label
  text-align left
  margin-bottom x(4)
  font-size x(28)
  color $gray

.input
  display block
  height auto
  width 100%
  padding x(10) x(12)
  font-size x(16)
  line-height x(20)
  border x(1) solid $gray
  background-color $white
  resize none
  outline none

.inputBlock + .inputBlock
  margin-top x(20)