html[data-layout="mobile"]
  .label
    font-size x(20)

  .option
    font-size x(16)
    margin-left x(25)


.label
  text-align left
  margin-bottom x(4)
  font-size x(28)
  color $gray

  &.radioLabel
    margin-bottom x(18)

  &.required
    &:after
      content '*'
      color $red
      margin-left x(5)
      font-size x(18)
      vertical-align top

.input
  display block
  height auto
  width 100%
  padding x(10) x(12)
  font-size x(16)
  line-height x(20)
  border x(1) solid $gray
  background-color $white
  resize none
  outline none

.inputBlock + .inputBlock
  margin-top x(20)

.radioGroup
  margin-top x(30)

.radioButton
  font-size x(18)

.radioButton + .radioButton
  margin-top x(20)

.option
  margin-left x(30)

