html[data-layout="mobile"]
  .section
    margin-bottom x(10)
    max-width x(500)
    overflow visible

    &.transitionClose
      overflow hidden

.wrap
  width 100%

.section
  margin-bottom x(29)

.transition
  max-height x(500)
  overflow hidden
  transition .3s ease
  .ease
    transition opacity .3s ease
    opacity 1

  &.transitionClose
    max-height x(0)
    .ease
      opacity 0

.soupsImg
  sectionGradient('../../../public/soup.jpg')

.mainImg
  sectionGradient('../../../public/meatballs.jpg')

.trimmingsImg
  sectionGradient('../../../public/pasta.jpg')

.saladsImg
  sectionGradient('../../../public/salad.jpg')

.supplementsImg
  sectionGradient('../../../public/bread.jpg')
