
.main
  font-size x(18)
  line-height x(24)
  color $gray
  margin-top x(40)

  a
    color $gray

  .accent
    font-weight 600

  .numeric
    list-style-type decimal

.title
  font-size x(40)
  font-weight 500
  margin-bottom x(30)
